//
   Created by Mesogene on 7/14/16.
meta(name="viewport",content="width=device-width,initial-scale=1")
link(href="/lib/bootstrap/dist/css/bootstrap.min.css",rel="styleSheet")
link(href="/lib/css/header.min.css" rel="stylesheet")
script(src="/lib/jquery/dist/jquery.min.js")
script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
script(src="//cdn.bootcss.com/jquery-validate/1.14.0/jquery.validate.min.js")
script(src="/javascripts/user_main.js")