//
   Created by Mesogene on 7/14/16.
link(href="/lib/bootstrap/dist/css/bootstrap.min.css",rel="styleSheet")
script(src="/lib/jquery/dist/jquery.min.js")
script(src="/lib/bootstrap/dist/bootstrap.min.js")
