extends ../layout

block content
    .container
        .row
           .col-mad-7
              h7 这里是一篇文章加图片
           .col-md-5
            dl.dl-horizontal
                 dt 文章标题
                 dd #{tcm.title}
                 dt 作者
                 dd #{tcm.author}
                 dt 发布时间
                 dd #{tcm.year}
                 dt 简介
                 dd #{tcm.summary}

