extends ../layout

block content
    .container
        .row
            each item in tcms
               .col-md-2
                  .thumbnail
                      a(href="/detail/#{item._id}")
                          h1 此处是一张图片
                      .caption
                         h3 #{item.title}
                         P
                           a.btn.btn-primary(href="/detail/#{item._id}",role="button") 详细内容
